*{
    margin: 0px;
    padding: 0px;
    
}

section.header{
    box-sizing: border-box;
    background-image: url('../img/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 10%;
    color: whitesmoke;
    width: 100%;
    height: 100vh;
}

.container{
    position: relative;
    z-index: 99;
    height: 100%;
}

nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 2em;
  
}

nav .logo{
    padding: 1em;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 1em;
}

.main{
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

aside{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    color: gray;
}

aside ul{
    list-style: none;
}

aside ul li:first-child{
    color: whitesmoke;
}

aside ul li a{
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 1em;
}

article{
    width: 40%;
    
}

.header article h1{
    margin-bottom: 1em;
    font-size: 32px;
}

.header article img{
    position: absolute;
    z-index: -99;
}

img.fixed {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: -10px;
    z-index: 99;
	
}

.bg-color {
    left: 0;
    top: 0;
    position: absolute;
    background-color: #060826;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 0;
}

section.about{
background-color: white;
    padding: 3% 10%;
    color: black;
    width: 80%;
    height: 88vh;
   
}

.about .main img{
    width: 100%;
}

.about .container h1{
    font-size: 48px;
}

.about .container p{
    font-size: 40px;
    color: yellowgreen;
}

.about .container article h1{
    font-size: 28px;
    margin-bottom: 1em;
}

.about .container article p{
    font-size: 22px;
    color: black;
}

.hashtag{
    margin: 1em 0;
}

.hashtag button{  
    padding: 10px 15px;
    width: 40%;
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
}

article button{
    padding: 10px 15px;
    width: 30%;
    background-color: yellowgreen;
}

.hashtag button a{
    text-decoration: none;
    color: black;
}

.about a{
    text-decoration: none;
    color: whitesmoke;
}

section.footer{
    background-color: rgb(4, 24, 7);
    opacity: 0.8;
        padding: 3% 10%;
        color: black;
        width: 80%;
        height: 88vh;
    color: whitesmoke;
}

.footer article.form{
    color: chartreuse;
    
}

.form h1{
    font-size: 40px;
    margin-bottom: 1em;
}

.form-group{
    margin-bottom: 1em;
}

.form-control{
    width: 100%;
    height: 50px;
}

.profile{
    height: 80%;
    text-align: right;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





